<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tetris_Elimination.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Tetris_Elimination.Properties.Settings>
      <setting name="highScore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Down" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="Right" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="Hold" serializeAs="String">
        <value>46</value>
      </setting>
      <setting name="Drop" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="Rotate" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="Pause" serializeAs="String">
        <value>59</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>NavyCheeze</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>Version: 2.2a</value>
      </setting>
      <setting name="MusicVol" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="EffectsVol" serializeAs="String">
        <value>0.1</value>
      </setting>
    </Tetris_Elimination.Properties.Settings>
  </userSettings>
</configuration>